<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.customer.access.ItemDAO">
  <select id="listNew" parameterType="int">
    SELECT * FROM ITEMS ORDER BY REG_DATE DESC
	LIMIT #{value}
  </select>
  
  <select id="listBest" parameterType="int">
        SELECT *
        FROM ITEMS
        ORDER BY ORDERS DESC
        LIMIT #{value}
    </select>
  
  <select id="listTagById" parameterType="int">
		SELECT I.ITEM_ID, I.LABEL, I.PRICE, I.IMAGE
		FROM ITEMS I
		JOIN ITEMS_TAGS T ON T.TAG_ID = #{TAG_ID}
		WHERE I.ITEM_ID = T.ITEM_ID
		ORDER BY I.REG_DATE
		LIMIT 8;
   </select>
   
   
    
    

</mapper>