main {
    /*width: 1280px;*/
    /*margin: 0 auto;*/
    padding: 16px;
}

tr {
    cursor: grab;
}
cds-dropdown-item {
    background-color: white;
}

#order-table {
    flex: 1;
}

#order-info {
    flex: 0;
}
cds-tile main {
    margin-top: 32px;
}


.value {
    min-width: 96px;
}
.value .label {
    color: #525252;
    font-weight: 400;
}
.value .measure {
    line-height: 48px;
}

cds-tile .main {
    margin-top: 24px;
}