<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.merchandiser.access.BannerManagerDAO">
<insert id="bannermain" parameterType="bannerDTO">
	INSERT INTO BANNERS (BANNER_ID, ITEM_ID, CATEGORY, LABEL, "DESC", IMAGE)
	VALUES(#{banner_id}, #{item_id}, 'MAIN', #{label}, #{desc}, #{image})
</insert>
<insert id="bannerevent" parameterType="bannerDTO">
	INSERT INTO BANNERS (BANNER_ID, ITEM_ID, CATEGORY, LABEL, "DESC", IMAGE)
	VALUES(#{banner_id}, #{item_id}, 'EVENT', #{label}, #{desc}, #{image})
</insert>
</mapper>