<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.merchandiser.access.BannerManagerDAO">
<select id="bannermain" parameterType="pageDTO">
		SELECT *
		FROM
		(
			SELECT BANNER_ID, ITEM_ID, LABEL, "DESC", CATEGORY, IMAGE,
			ROW_NUMBER() OVER(ORDER BY REG_DATE DESC) AS RN
			FROM BANNERS
			WHERE CATEGORY='MAIN'
	  	)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
<select id="bannerevent" parameterType="pageDTO">
		SELECT *
		FROM
		(
			SELECT BANNER_ID, ITEM_ID, LABEL, "DESC", CATEGORY, IMAGE,
			ROW_NUMBER() OVER(ORDER BY REG_DATE DESC) AS RN
			FROM BANNERS
			WHERE CATEGORY='EVENT'
	  	)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
</mapper>