<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ecom.javacodings.merchandiser.access.EventManagerDAO">

	<select id="count">
		SELECT COUNT(EVENT_ID)
		FROM EVENTS
	</select>

	<select id="findAll">
		SELECT *
		FROM
		(
		    SELECT EVENT_ID, CATEGORY, CONTENT, LABEL, START_DATE, END_DATE,
				   ROW_NUMBER() over (ORDER BY EVENT_ID) RN
		    FROM EVENTS
		)
		WHERE RN BETWEEN #{page.start} AND #{page.end}
	</select>

	<select id="getAllItemLabelByEventId" resultType="String">
		SELECT I.LABEL
		FROM EVENT_ITEMS E
		JOIN ITEMS I ON I.ITEM_ID = E.ITEM_ID
		WHERE EVENT_ID = #{event_id}
	</select>


	<!-- 상품리스트 등록일을 최신순으로 내림차순 -->
	<select id="listEventItem" parameterType="pageDTO">
		SELECT *
		FROM
		(
			SELECT I.ITEM_ID, I.LABEL, I."DESC", P.PATH,
				   ROW_NUMBER() over (ORDER BY I.ITEM_ID DESC) AS RN
			FROM EVENT_ITEMS E
			    JOIN ITEMS I ON E.ITEM_ID = I.ITEM_ID
				JOIN ITEM_IMAGES P ON P.ITEM_ID = E.ITEM_ID AND P.CATEGORY = 'thumbnail'
			WHERE E.EVENT_ID = #{event_id}
		)
		WHERE RN BETWEEN #{page.start} AND #{page.end}
	</select>
  
  <update id="stateUpdate" parameterType="eventDTO">
  		UPDATE EVENTS SET
  		CATEGORY = #{category},
  		CONTENT = #{content}
  		WHERE event_id = #{event_id}
  </update>
  
  
  
  
  
  
  
  
  
	
    <select id="event1" resultType="eventDTO">
    	SELECT E.EVENT_ID, E.CATEGORY, E.ITEM_ID, I.ITEM_ID, I.LABEL, (I.PRICE*0.9) AS CONTENT 
    	FROM EVENTS E 
    	INNER JOIN ITEMS I
        ON E.ITEM_ID = I.ITEM_ID
    	WHERE 
        EVENT_ID = #{event_id}
    	
    </select>
    
    <select id="event2" resultType="int">
    	SELECT E.EVENT_ID, E.CATEGORY, E.ITEM_ID, I.ITEM_ID, I.LABEL, (I.STOCK-2) AS CONTENT 
    	FROM EVENTS E 
    	INNER JOIN ITEMS I
        ON E.ITEM_ID = I.ITEM_ID
    	WHERE 
        EVENT_ID = #{event_id}
    </select>
  
  
  
 </mapper>       