<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.merchandiser.access.OrderManagerDAO">

	<select id="listOrder" parameterType="pageDTO" resultType="OrderDTO">
		SELECT ORDER_ID, ITEM_ID, MEMBER_ID, AMOUNT, STATE, REG_DATE
		FROM (
				 SELECT O.ORDER_ID, O.ITEM_ID, O.MEMBER_ID, O.AMOUNT, S.STATE, S.REG_DATE,
						ROW_NUMBER() OVER (ORDER BY S.REG_DATE DESC) AS RN
				 FROM ORDERS O
						  JOIN
					  (
						  SELECT ORDER_ID, MAX(STATE) AS STATE, MAX(REG_DATE) AS REG_DATE
						  FROM ORDER_STATES
						  WHERE STATE &gt; 0
						  GROUP BY ORDER_ID
					  ) S
					  ON O.ORDER_ID = S.ORDER_ID
			 )
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<insert id="orderUpdate" parameterType="OrderDTO">
		INSERT INTO ORDERS (ORDER_ID, ITEM_ID, MEMBER_ID, AMOUNT)
		SELECT #{order_id}, #{item_id}, #{member_id}, #{amount}
		FROM ORDERS
		WHERE ORDER_ID = #{order_id}
		ORDER BY REG_DATE DESC
	</insert>
	
	<insert id="updateOrderStates" parameterType="orderDTO" useGeneratedKeys="false">
		INSERT INTO ORDER_STATES (ORDER_ID, STATE)
		VALUES (#{order_id}, #{state})
	</insert>
   
	<select id="orderList" parameterType="pageDTO">
		SELECT * 
		FROM (SELECT O.ORDER_ID, O.ITEM_ID, O.MEMBER_ID, O.AMOUNT, OS.STATE, ROW_NUMBER() over (ORDER BY REG_DATE DESC) AS RN
			FROM ORDERS O
				JOIN ORDER_STATES OS ON O.ORDER_ID = OS.ORDER_ID)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>	

	<select id="countState" resultType="orderDTO" parameterType="int">
		select D.STATE, NVL(Q.AMOUNT, 0) AS AMOUNT
		FROM
			(
			SELECT ROWNUM STATE
			FROM DUAL
			CONNECT BY ROWNUM &lt;= 8 AND ROWNUM &gt;= 1
			) D
			left JOIN
			(
			SELECT STATE, COUNT(STATE) AS AMOUNT
			FROM
			(
			SELECT MAX(STATE) AS STATE
			FROM ORDER_STATES
			GROUP BY ORDER_ID
			)
			GROUP BY STATE
			ORDER BY STATE
			) Q
		on Q.STATE = D.STATE
		order by D.STATE
	</select>


	<select id="countOrders" resultType="int">
		SELECT COUNT(ORDER_ID)
		FROM ORDERS
	</select>
<!--	<select id="orderStateCnt" resultType="int">-->
<!--      SELECT COUNT(state)-->
<!--        FROM ORDERS-->
<!--        ORDER BY REG_DATE DESC -->
<!--        GROUP BY order_id-->
<!--        WHERE state = #{value}-->
<!--    </select>-->
</mapper>