<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.merchandiser.access.TagManagerDAO">

<select id="listTags" resultType="String">
    SELECT TAG_ID
    FROM TAGS
</select>
<select id="listTagsById" resultType="String">
    SELECT TAG_ID
    FROM ITEMS_TAGS
    WHERE ITEM_ID = #{value}
</select>

</mapper>
 