<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.merchandiser.access.TagManagerDAO">

    <select id="findAllByItemId" resultType="String">
        SELECT TAG
        FROM ITEM_TAGS
        WHERE ITEM_ID = #{item_id}
    </select>

    <select id="findAll" resultType="String">
        SELECT TAG
        FROM ITEM_TAGS
        GROUP BY TAG
    </select>
    <select id="listTagsById" resultType="String">
        SELECT TAG
        FROM ITEM_TAGS
        WHERE ITEM_ID LIKE #{value}
    </select>

    <delete id="deleteTagsByItemId" parameterType="String">
        DELETE
        FROM ITEM_TAGS
        WHERE ITEM_ID LIKE #{value}
    </delete>
    <insert id="insertTags" parameterType="map">
        <foreach collection="tags" item="tag" separator="" open="INSERT ALL " close="SELECT 1 FROM DUAL">
            INTO ITEM_TAGS(ITEM_ID, TAG) VALUES (#{item_id}, #{tag})
        </foreach>
    </insert>
</mapper>
 