<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

    <!-- aliases - short name setting bvo, pvo-->
    <typeAliases>
        <typeAlias alias="hashMap" type="java.util.HashMap" />
        <typeAlias alias="map" type="java.util.Map" />

        <typeAlias alias="memberDTO" type="com.ecom.javacodings.common.transfer.table.MemberDTO" />
        <typeAlias alias="bannerDTO" type="com.ecom.javacodings.common.transfer.table.BannerDTO" />
        <typeAlias alias="itemDTO" type="com.ecom.javacodings.common.transfer.table.ItemDTO" />
        <typeAlias alias="tagDTO" type="com.ecom.javacodings.common.transfer.table.TagDTO" />
        <typeAlias alias="pageDTO" type="com.ecom.javacodings.common.transfer.PageDTO" />
        <typeAlias alias="orderDTO" type="com.ecom.javacodings.common.transfer.table.OrderDTO" />
    </typeAliases>
</configuration>