<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.customer.access.ItemDAO">
    <select id="listNew" parameterType="int">
        SELECT *
        FROM (SELECT LABEL, "DESC", PRICE, IMAGE, ROW_NUMBER() over (ORDER BY REG_DATE DESC) AS RN
              FROM ITEMS
              ORDER BY REG_DATE DESC)
        WHERE RN BETWEEN 1 AND #{value}
    </select>

    <select id="listBest" parameterType="int">
        SELECT O.ITEM_ID, I.LABEL, I."DESC", I.PRICE, I.IMAGE
        FROM (
                 SELECT O.ITEM_ID, ROW_NUMBER() OVER (ORDER BY SUM(QUANTITY)) AS RN
                 FROM (
                          SELECT S.ORDER_ID, MAX(S.STATE) AS STATE
                          FROM ORDER_STATE S
                          WHERE S.STATE &gt; 1 AND S.STATE &lt; 6
                          GROUP BY S.ORDER_ID
                      ) S
                      JOIN ORDERS O ON S.ORDER_ID = O.ORDER_ID
                 GROUP BY O.ITEM_ID
             ) O
        JOIN ITEMS I ON O.ITEM_ID = I.ITEM_ID
        WHERE RN BETWEEN 1 AND #{value}
    </select>

    <select id="listItemsByTagId" parameterType="map">
        SELECT *
        FROM (SELECT I.ITEM_ID, I.LABEL, I.PRICE, I.IMAGE, ROW_NUMBER() over (ORDER BY I.REG_DATE) AS RN
              FROM ITEMS I
                  JOIN ITEMS_TAGS T ON T.TAG_ID = #{value}
              WHERE I.ITEM_ID = T.ITEM_ID
              ORDER BY I.REG_DATE)
        WHERE RN BETWEEN 1 AND 8
    </select>
    <select id="getcategorylist" parameterType="string">
    SELECT *
        FROM (SELECT ITEM_ID, LABEL, CATEGORY,"DESC", PRICE, IMAGE, ROW_NUMBER() over (ORDER BY REG_DATE DESC) AS RN
              FROM ITEMS
              WHERE CATEGORY = #{category})
    WHERE RN BETWEEN 1 AND 20
    </select>
</mapper>