<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.customer.access.MemberDAO">
    <select id="login" parameterType="memberDTO" resultType="memberDTO">
        SELECT MEMBER_ID, PASSWORD, ROLE 
        FROM MEMBER
        WHERE MEMBER_ID=#{member_id} AND PASSWORD=#{password}
    </select>
    
	<select id="searchId" parameterType="memberDTO" resultType="string">
		SELECT MEMBER_ID 
		FROM MEMBER_INFOS
		WHERE NAME = #{name} AND PHONE = #{phone}
	</select>
	
	<update id="updatePasswd" parameterType="memberDTO">
	    UPDATE MEMBER
	    SET PASSWORD = #{password}
	    WHERE MEMBER_ID = (SELECT MEMBER_ID FROM MEMBER_INFOS WHERE PHONE = #{phone})
	</update>
 
    <select id="idCheck" resultType="int">
      select count(member_id) from member
    	where member_id = #{member_id}
    </select>
      
    
    <insert id="memberJoin" parameterType="memberDTO" useGeneratedKeys="false">
    INSERT ALL
        INTO MEMBER (MEMBER_ID, PASSWORD, ROLE) 
        VALUES (#{member_id}, #{password}, 'custom')
        
        INTO MEMBER_INFOS (MEMBER_ID, NAME, EMAIL, PHONE, BIRTH) 
        VALUES (#{member_id}, #{name}, #{email}, #{phone}, #{birth})
        
        INTO ADDRESS (MEMBER_ID, ZIPCODE, ADDRESS, ADDRESS2) 
        VALUES (#{member_id}, #{zipcode}, #{address}, #{address2})
     	SELECT 1 FROM DUAL
    </insert>
</mapper>