<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.customer.access.members.MemberDAO">
	<!-- Region Metadata -->

	<select id="isExistMemberId" resultType="Boolean">
		SELECT CASE WHEN COUNT(MEMBER_ID) > 0 THEN '1' ELSE '0' END
		FROM MEMBERS
		WHERE MEMBER_ID = #{member_id}
	</select>

	<!-- End Region Metadata -->
	<!-- Region Basic CRUD -->

	<select id="findByIdAndPassword" resultType="memberDTO">
		SELECT
			M.MEMBER_ID, M.PASSWORD, M.ROLE, M."LEVEL",
			I.NAME, I.EMAIL, I.BIRTH, I.PHONE
		FROM MEMBERS M
			JOIN MEMBER_INFOS I ON M.MEMBER_ID = I.MEMBER_ID
		WHERE M.MEMBER_ID = #{member_id} AND M.PASSWORD=#{password}
	</select>

	<select id="findByIdAndName" resultType="memberDTO">
		SELECT
			M.MEMBER_ID, M.PASSWORD, M.ROLE, M."LEVEL",
			I.NAME, I.EMAIL, I.BIRTH, I.PHONE
		FROM MEMBERS M
				 JOIN MEMBER_INFOS I ON M.MEMBER_ID = I.MEMBER_ID
		WHERE M.MEMBER_ID = #{member_id} AND I.NAME = #{name}
	</select>

	<select id="getMemberIdByNameAndPhone" resultType="string">
		SELECT MEMBER_ID
		FROM MEMBER_INFOS
		WHERE NAME = #{name} AND EMAIL = #{email}
	</select>

	<insert id="add" useGeneratedKeys="false">
		INSERT ALL
		INTO MEMBERS(MEMBER_ID, PASSWORD)
		VALUES (#{member.member_id}, #{member.password})
		INTO MEMBER_INFOS(MEMBER_ID, NAME, EMAIL, PHONE)
		VALUES (#{member.member_id}, #{member.name}, #{member.email}, #{member.phone})
		SELECT 1 FROM DUAL
	</insert>

	<update id="setPasswordByMemberId">
		UPDATE MEMBERS 
		SET PASSWORD = #{password}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<delete id="archiveByMemberId" parameterType="String">
		UPDATE MEMBERS
		SET ROLE = 'ARCHIVED'
		WHERE MEMBER_ID = #{member_id}
	</delete>

	<!-- End Region Basic CRUD -->

</mapper>