<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.customer.access.OrderDAO">
	<!-- 장바구니 시작 -->
	<select id="cartLists" parameterType="map">
		SELECT O.ORDER_ID, O.ITEM_ID, O.MEMBER_ID, O.QUANTITY, M.MEMBER_ID, OS.REG_DATE, OS.STATE, I.CATEGORY, I.REG_DATE, I.LABEL, I."DESC", I.IMAGE, I.PRICE, I.STOCK, I.ITEM_ID
		FROM ORDERS O
		INNER JOIN MEMBERS M
			ON O.MEMBER_ID = M.MEMBER_ID
		INNER JOIN ITEMS I
			ON O.ITEM_ID = I.ITEM_ID
		INNER JOIN (
			SELECT OS.ORDER_ID, OS.STATE, OS.REG_DATE
			FROM ORDER_STATE OS
			WHERE (ORDER_ID, REG_DATE) IN (
				SELECT OS.ORDER_ID, MAX(OS.REG_DATE)
				FROM ORDER_STATE
				WHERE OS.STATE = '0'
				GROUP BY ORDER_ID
			)
		) OS
			ON O.ORDER_ID = OS.ORDER_ID
		ORDER BY OS.REG_DATE DESC
	</select>
	
	<update id="updateCart" parameterType="list">
		<foreach item="item" index="index" collection="list" open="DECLARE BEGIN" separator=";" close="; END">
			UPDATE ORDERS O
			SET QUANTITY = #{quantity}
			WHERE MEMBER_ID = #{member_id} AND O.ORDER_ID IN (
				SELECT OS.ORDER_ID
				FROM ORDER_STATE OS
				WHERE O.ORDER_ID = OS.ORDER_ID AND OS.STATE = '0')
		</foreach>
	</update>
	
	<delete id="deleteOrderStateByCart" parameterType="list">
		<foreach item="item" index="index" collection="list" open="DECLARE BEGIN" separator=";" close="; END">
			DELETE 
			FROM ORDER_STATE OS 
			WHERE OS.STATE = '0' AND ORDER_ID IN (
				SELECT O.ORDER_ID
				FROM ORDERS O
				WHERE O.MEMBER_ID = #{member_id})
		</foreach>
	</delete>
	
	<delete id="deleteOrdersByCart" parameterType="list">
		<foreach item="item" index="index" collection="list" open="DECLARE BEGIN" separator=";" close="; END">
			DELETE 
			FROM ORDERS O
			WHERE MEMBER_ID = #{member_id} AND O.ORDER_ID IN (
				SELECT OS.ORDER_ID
				FROM ORDER_STATE OS
				WHERE O.ORDER_ID = OS.ORDER_ID)
		</foreach>
	</delete>	
	<!-- 장바구니 끝 -->
	
    <insert id="setOrder" parameterType="orderDTO" useGeneratedKeys="false">
        INSERT ALL
            INTO ORDERS(ORDER_ID, ITEM_ID, MEMBER_ID, QUANTITY)
            VALUES (#{order_id}, #{item_id}, #{member_id}, #{quantity})

            INTO ORDER_STATE(ORDER_ID, STATE)
            VALUES (#{order_id}, #{state})
        SELECT 1 FROM DUAL
    </insert>

    <select id="getOrder" parameterType="orderDTO">
        SELECT *
        FROM ORDERS
        WHERE ORDER_ID = #{order_id}
    </select>

	<insert id="insertOrder" parameterType="orderDTO" useGeneratedKeys="false">
		INSERT ALL
			INTO ORDERS(ORDER_ID, ITEM_ID, MEMBER_ID, QUANTITY, TRANSACTION_ID)
			VALUES (#{order_id}, #{item_id}, #{member_id}, #{quantity}, #{transaction_id})

			INTO ORDER_STATE(ORDER_ID, STATE)
			VALUES (#{order_id}, 1)
		SELECT 1 FROM DUAL
	</insert>

</mapper>
 