<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.customer.access.OrderDAO">
	<!-- Region Metadata -->

	<select id="countOrdersByMemberID" parameterType="String">
		SELECT COUNT(ORDER_ID)
		FROM ORDERS
		WHERE MEMBER_ID = #{value}
	</select>

	<select id="isDuplicatedID" parameterType="String">
		SELECT COUNT(ORDER_ID)
		FROM ORDERS
		WHERE ORDER_ID = #{value}
	</select>

	<!-- End Region Metadata -->
	<!-- Region Basic CRUD -->

	<insert id="addOrder" parameterType="cartDTO">
		INSERT ALL
			INTO ORDERS(ORDER_ID, ITEM_ID, MEMBER_ID, QUANTITY, TRANSACTION_ID)
			VALUES (#{order_id}, #{item_id}, #{member_id}, #{quantity}, #{transaction_id})

			INTO ORDER_STATE(ORDER_ID, STATE)
			VALUES (#{order_id}, 1)
			INTO ORDERS(ORDER_ID, ITEM_ID, MEMBER_ID, QUANTITY)
			VALUES (#{order_id}, #{item_id}, #{member_id}, #{quantity})

			INTO ORDER_STATE(ORDER_ID, STATE)
			VALUES (#{order_id}, '1')
		SELECT 1 FROM DUAL
	</insert>

	<update id="updateOrderStateByOrderID" parameterType="orderDTO">
		UPDATE ORDER_STATE SET
			STATE = #{state}
		WHERE ORDER_ID = #{order_id}
	</update>

	<!-- End Region Basic CRUD -->
</mapper>
 