<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom.javacodings.customer.access.ItemDAO">
    <select id="listNew" parameterType="int">
        SELECT *
        FROM (SELECT LABEL, "DESC", PRICE, IMAGE, ROW_NUMBER() over (ORDER BY REG_DATE DESC) AS RN
              FROM ITEMS
              ORDER BY REG_DATE DESC)
        WHERE RN BETWEEN 1 AND #{value}
    </select>

    <select id="listBest" parameterType="int">
        SELECT *
        FROM (SELECT LABEL, "DESC", PRICE, IMAGE, ROW_NUMBER() over (ORDER BY ORDERS DESC) AS RN
              FROM ITEMS
              ORDER BY ORDERS DESC)
        WHERE RN BETWEEN 1 AND #{value}
    </select>

    <select id="listItemsByTagId" parameterType="map">
        SELECT *
        FROM (SELECT I.ITEM_ID, I.LABEL, I.PRICE, I.IMAGE, ROW_NUMBER() over (ORDER BY I.REG_DATE) AS RN
              FROM ITEMS I
                  JOIN ITEMS_TAGS T ON T.TAG_ID = #{value}
              WHERE I.ITEM_ID = T.ITEM_ID
              ORDER BY I.REG_DATE)
        WHERE RN BETWEEN 1 AND 8
    </select>

    <select id="listItem" parameterType="int">
	    SELECT *
		FROM (SELECT *, ROW_NUMBER() over (ORDER BY REG_DATE DESC) AS RN 
		      FROM ITMES)
	    WHERE RN BETWEEN #{value} AND #{value}
    </select>

    <update id="updateList" parameterType="ItemDTO">
		UPDATE ITEMS SET 
	   				<if test="category!=null">CATEGORY=#{category}, </if>
	    			<if test="label!=null">LABEL=#{label}, </if>
	    			<if test="desc!=null">DESC=#{desc}, </if>
					<if test="image!=null">IMAGE=#{image}, </if>
					<if test="price!=null">PRICE=#{price}, </if>
					<if test="stock!=null">STOCK=#{stock} </if>
		WHERE ITEM_ID=#{item_id}
    </update>

    <delete id="deleteItem" parameterType="String">
		DELETE 
		FROM ITEMS
		WHERE ITEM_ID = #{value}
	</delete>
	
	<insert id="updateOrderState" parameterType="int">
		INSERT INTO ORDER(ORDER_ID, ITEM_ID, MEMBER_ID, QUANTITY, STATE)		
		SELECT ORDER_ID, ITEM_ID, MEMBER_ID, QUANTITY, SUM(STATE,1 ) AS STATE
		FROM ORDER
		WHERE STATUS = 0 AND ORDER_ID = #{value}
	</insert>
	
	<insert id="insertOrder" parameterType="list">
	  <selectKey keyProperty="oder_id" resultType="int" order="BEFORE">
		SELECT NVL(MAX(state), 0)+1 AS status FROM ORDER
	</selectKey>	
     INSERT INTO ORDER(ORDER_ID,ITEM_ID,MEMBER_ID,QUANTITY,
                  STATE,STATUS,)
          VALUES(#{order_id},#{item_id},#{member_id},#{quantity},
                 #{state},#{status})
	</insert>
	
	<update id="updateStockItem" parameterType="ItemDTO">
		UPDATE ITEMS
		SET STOCK = STOCK - #{value}
		WHERE ITEM_ID = #{value}
	</update>
	
	<select id="listItemByItemId" parameterType="String">
		SELECT *
		FROM ITEMS
		WHERE ITEM_ID = #{value}
	</select>
	
	<!-- RQ - 011 - 06 가격 데이터 변경 -->
	<update id="updatePrice" parameterType="item">
	  UPDATE ITEMS SET
	  PRICE = #{value}
	  WHERE 
	  ITEM_ID = #{value}
	</update>
	
	<select id="orderList" parameterType="item">
	  SELECT *
	  FROM (SELECT *, ROW_NUMBER() over (ORDER BY REG_DATE ASC) AS RN 
		      FROM ORDER)
	  WHERE RN BETWEEN #{start} and #{end}
	</select>
</mapper>