@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

main {
	display: flex;
}

div.loginform{
	display: inline-block;
	margin: 0 auto;
	
	
}
h1.test {
  text-align:center; 
  font-size: 48px;
  color:black;
  padding-top: 20px;
}

body {
  background: #272125;
  font-family: 'Roboto', sans-serif;
  
}

form.loginform_text {
  position:relative;
  margin: 22px auto;
  width: 380px;
  height: auto;
}

main input {
  padding: 16px;
  border-radius:7px;
  border:1px solid black;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 15px;
  width: 300px;  
  color:white;
  font-size:18px;
  height: 54px;
}

main input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: #e74c3c;
}

main button {
  float:right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: #e74c3c;
  border-radius:7px;
  padding: 10px;
  color:white;
  font-size:22px;
  margin-top: 16px;
}

.inputUserIcon {
  position:absolute;
  top:68px;
  right: 80px;
  color:#0080ff;
}

.inputPassIcon {
  position:absolute;
  top:136px;
  right: 80px;
  color:#0080ff;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
#lage_login_input{
	display: inline-block;
}
#entypo-login{
	text-align: center;
	font-size: 16px;
	color: black;
	
}

div.col1{
	display:inline;
	text-align: center;
	color: black;
	margin: 0 auto;
	margin-left: 20px;
	
}
div.col2{
	display:inline;
	text-align: center;
	color: black;
	margin: 0 auto;
	margin-left: 20px;
	
}