footer.global {
    background-color: #262626;
    color: #f4f4f4;

    gap: 16px;
    padding-top: 32px;
    padding-bottom: 64px;
    font-size: 14px;
}

footer.global span {
    width: 1280px;
    margin: 0 auto;
    display: flex;
}

footer.global div {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1.5em;
    gap: 4px;
    font-weight: 400;
}

footer.global ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}
footer.global a { color: #f4f4f4; text-decoration: none; }
footer.global a:focus { color: #f4f4f4; text-decoration: none; }
footer.global a:visited { color: #f4f4f4; text-decoration: none; }

footer.global b {
    font-weight: 350;
    margin-top: 16px;
}