.layer-01 {
    width: 1280px;
    margin: 0 auto;
}
tr {
    cursor: grab;
}

#modal-div {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
#modal-div div, #modal-div cds-stack {
    flex: 1;
}


.button {
    display: inline-block;
    height:40px;
    line-height:   40px;
    padding-left:  16px;
    padding-right: 64px;

    background-color: #393939;
    border: 1px solid #393939;
    color: #fff;
}
.button:hover  { background-color: #4c4c4c; }
.button:active { background-color: #6f6f6f; }
.button:focus  { border: 1px solid #0f62fe; }

#upload-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#uploaded-file {
    display: block;
    flex: 1;

    height:40px;
    line-height:   40px;
    padding-left:  16px;
    padding-right: 16px;

    background-color: #fff;
}

/* Region Modal */

cds-modal #image-block {
}

cds-modal #image-block #images {
    width:  400px;
    height: 400px;
    overflow: hidden;
}

cds-modal #image-block img {
    width:  400px;
    height: 400px;
}

/* End Region Modal */
