@charset "UTF-8";

@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}
ol,ul{list-style:none}blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
table{border-collapse:collapse;border-spacing:0}

html {
    background-color: #f4f4f4;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a, a:visited, a:hover, a:focus { text-decoration: none; color: #525252; }


/** Region Typography **/
.sans  { font-family: 'IBM Plex Sans KR', 'Helvetica Neue', Arial, sans-serif; }
.serif { font-family: 'IBM Plex Serif', 'Georgia', Times, serif; }
.mono  { font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace; }
h1 { font-size: 54px; line-height: 64px; font-weight: 300; }
h2 { font-size: 42px; line-height: 50px; font-weight: 300; }
h3 { font-size: 32px; line-height: 40px; font-weight: 400; }
h4 { font-size: 28px; line-height: 36px; font-weight: 400; }
h5 { font-size: 20px; line-height: 28px; font-weight: 400; }
h6 { font-size: 16px; line-height: 22px; font-weight: 600; }
h7 { font-size: 14px; line-height: 18px; font-weight: 600; }
/** End Region Typography **/
