main {
    margin: 0 auto;
    /*padding-top: 16px;*/

    display: grid;
    grid-template-columns: repeat(16, 80px);
    grid-gap: 16px;
    justify-content: center;
}

#table {
    grid-column: 1 / 13;
}

/* Region Item **********************************************/

#row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
#row img {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}

#row .orderable {
    flex: 1;
    display: flex;
    flex-direction: row;
}
#row .orderable #desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #8d8d8d;
    padding-right: 16px;
    align-items: end;
}
#row .orderable #desc h1 {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    padding-bottom: 8px;
}
#row .orderable #desc p {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
}
#row .orderable #quantity {
    display: block;
    max-width: 160px;
}
#row .orderable #amount {
    padding-left: 16px;
    padding-top: 64px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    width: 160px;
}

/* End Region Item **********************************************/
/* Region Order    **********************************************/

#order {
    grid-column: 13 / 17;
    margin-top: 20px;
    font-family: "IBM Plex Sans KR", sans-serif;
}
#order h1 {
    font-size:   20px;
    line-height: 24px;
    padding-left: 8px;
}

#order-summary {
    padding: 16px 8px;
    border: 1px solid #8d8d8d;
    border-left:  none;
    border-right: none;

    font-size: 16px;
    line-height: 24px;
}
#order-summary table {
    width: 100%;
}
#order-summary tr {
    height: 24px;
}

#order-summary .value {
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    font-weight:  300;
}

#order-summary-total {
    padding: 0 8px;

    font-size: 16px;
    line-height: 24px;
}
#order-summary-total .value {
    font-size:   28px;
    line-height: 32px;
    font-weight:  300;

    padding-top: 8px;
    padding-bottom: 8px;
}
#order-summary-discount .value {
    color: #198038;
}

/* End Region Order */
